@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:#bee6cf;
    font-family: var(--primary-font);
    outline: none;

}
:root{
    --primary-font:"Poppins", sans-serif;
    --color:#fafafa;
    --seccolor:#ebf4f3;
    --thirdcolor:#e2adcb;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    background-color:var(--color) ;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px var(--seccolor),
                    5px 5px 12px rgba(0,0,0,.16);
    display: grid;
    grid-template-columns: repeat(4,68px);
}
input{
    grid-column: span 4;
    height: 70px;
    width: 250px;
    background-color: var(--seccolor);
    box-shadow: inset -5px -5px 12px var(--seccolor),
                    5px 5px 12px rgba(0,0,0,.16);
    border:none;
    border-radius: 30px;
    color: #89a963;
    font-size: 50px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;
}
button{
    height: 48px;
    width: 48px;
    font-weight: 500;
    background-color: var(--seccolor);
    border: none;
    box-shadow: inset -5px -5px 12px var(--seccolor),
                    5px 5px 12px rgba(0,0,0,.16);
    border-radius: 50%;
    margin: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.equal{
    width: 115px;
    border-radius: 40px;
     background-color: #ecf0f3;
    box-shadow: -5px -5px 12px #ffffff,
                  5px 5px 12px rgba(0,0,0,.16);
                  background-color: #89a963;
}
/* rgb(226, 173, 203) */